<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>

<!-- 기본 프로필 이미지 미리보기 -->
<div>
    <p>기본 프로필 이미지:</p>
    <img th:src="@{/api/files/default-profile-image}"
         alt="Default Profile Image"
         style="max-width: 200px; max-height: 200px;" />
</div>
<script>
    function generateRandomNickname() {
        fetch('/api/users/random-nickname')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                const nicknameInput = document.querySelector('#nickname');
                if (nicknameInput) {
                    nicknameInput.value = data.nickname;
                } else {
                    console.error('Nickname input field not found');
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>
<hr/>

<!-- 폼 태그: 이메일, 닉네임, 전화번호, 실제 업로드 파일 등 -->
<form th:action="@{/api/auth/users/signup}"
      th:object="${signUpForm}"
      method="post"
      enctype="multipart/form-data">

    <div>
        <label>Email:</label>
        <input type="text" th:field="*{email}" th:value="${signUpForm.email}" />
    </div>

    <div>
        <label>Nickname:</label>
        <input type="text" th:field="*{nickname}" id="nickname" />
        <!-- 버튼 누르면 랜덤 닉네임 생성 api 호출 -->
        <button type="button" onclick="generateRandomNickname()">랜덤 닉네임 생성</button>
    </div>

    <div>
        <label>Upload Profile Image (Optional):</label>
        <input type="file" th:field="*{profileImage}" />
    </div>

    <button type="submit">가입하기</button>
</form>

</body>
</html>
